.conversation {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    justify-content: space-between;
    margin: 0 auto;
    max-width: 975px;
    padding: 17px;
}

.message-container {
    margin-bottom: 5px;
    margin-top: 5px;

    .message-inner {
        display: inline-block;
    }

    &.responder {
        .message {
            background: lightgrey;
        }
    }

    &.me {
        text-align: right;

        .message {
            background: lightblue;
            text-align: left;
        }
    }

    .message {
        border-radius: 10px;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;
    }

    .timestamp {
        color: grey;
        font-size: .8rem;
    }
}

.inputs {
    display: flex;
    padding-bottom: 10px;

    .message-input {
        width: 100%;
    }

    .send-button {
        margin-left: 10px;
        width: 200px;
    }
}
