<div class="product" *ngIf="product">
    <h3>
        {{ product.name }}
    </h3>
    <p>
        {{ product.price | currency }}
    </p>
    <p>
        {{ product.description }}
    </p>
    <p>
        Sold by <a routerLink="/user/{{ product.seller }}">{{ product.seller }}</a>
    </p>
    <button mat-raised-button>
        Purchase
    </button>
    <button
        *ngIf="product && currentUser && currentUser.username !== product.seller"
        mat-stroked-button
        routerLink="/message/{{ product.slug }}/{{ product.seller }}/{{ currentUser.username }}">
        Message
    </button>
</div>